-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    -if @ratings.has_key? rating
      = check_box_tag "ratings[#{rating}]", "ratings_#{rating}", true
    -else
      = check_box_tag "ratings[#{rating}]", "ratings_#{rating}", false
  = submit_tag 'Refresh', id: 'ratings_submit'
  
%table#movies
  %thead
    %tr
      - if @sort_title == 1
        %th{class: 'hilite'}
          =link_to_unless_current 'Movie Title', {controller: ['movies'], action: ['index'], sort_title: '1'}.merge(params), id: 'title_header'
      - else
        %th
          =link_to 'Movie Title', {controller: ['movies'], action: ['index'], sort_title: '1'}.merge(params), id: 'title_header'
      %th Rating
      - if @sort_release_date == 1
        %th{class: 'hilite'}
          =link_to_unless_current 'Release Date', {controller: ['movies'], action: ['index'], sort_release_date: '1'}.merge(params), id: 'release_date_header' #
      - else
        %th
          =link_to_unless_current 'Release Date', {controller: ['movies'], action: ['index'], sort_release_date: '1'}.merge(params), id: 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
